@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
   margin: 0;
   padding: 0;
}

html{
   font-family: 'Lato', sans-serif;
   background-color: #0f3057;
   color: white;
}

.container{
   padding: 0 10%;
}


/****************** HEADER *******************/

header nav{
   display: flex;
   padding: 5px 10%;
   box-shadow: 0px 0px 5px #000;
   justify-content: space-between;
   align-items: center;
}

.name-logo{
   display: flex;
   font-size: 25px;
}

.name-logo img{
   width: 50px;
   height: 50px;
}


.cart-icon{
   background: none;
   color: white;
   border: none;
   font-size: 25px;
   cursor: pointer;
   outline: none;
}

.cart-icon:hover{
   color: #e7e7de;
}


#cart{
   display: none;
   position: absolute;
   right:10%;
   top: 7%;
   z-index: 1;
   background-color: #00587a;
   padding: 20px;
   border-radius: 1%;
   min-height: 400px;
   max-width: 500px;
}

.cart-list{
   width: 100%;
   table-layout: fixed;
}

th, td{
   text-align: center;
}

th{
   border-bottom: 1px #e7e7de solid ;
   padding-bottom: 10px;
}

td{
   padding: 10px 0;
   border-bottom: 1px #e7e7de solid ;
   word-wrap: break-word;
}

.table-image{
   width: 25%;
}

.table-name{
   width: 50%;
}

.table-icon-delete{
   width: 10%;
}

.cart-list img{
   width: 100px;
   height: 70px;
   border-radius: 5%;
}

.pop-course{
   background: none;
   color: rgb(235, 96, 96);
   padding: 8px;
   font-size: 20px;
   border: none;
   outline: none;
   cursor: pointer;
}

.pop-course:hover{
   color: red;
}

.div-clear-cutton{
   text-align: center;
   margin: 15px 0;
}

.button-clear-cart{
   width: 100%;
   padding: 10px 0;
   background-color: #008891;
   color: white;
   outline: none;
   border: none;
   border-radius: 5px;
}

.button-clear-cart:hover{
   background-color: #0cb9c5;
}

@media only screen and (max-width: 600px) {
   .name-logo{
      font-size: 20px;
   }

   .name-logo img{
      width: 40px;
      height: 40px;
   }
}

@media only screen and (max-width: 675px){
   #cart{
      max-width: 100%;
      right: 0;
   }
}

/************** PRESENTATION ********************/
.presentation{
   margin: 30px 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.presentation-text{
   width: 45%;
}

.presentation-text h1{
   font-size: 50px;
}

.presentation-text p{
   font-size: 25px;
   line-height: 35px;
   margin: 30px 0;
}

.principal-button{
   font-size: 25px;
   padding: 10px 40px;
   background-color:#008891;
   border: none;
   outline: none;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}

.principal-button:hover{
   background-color: #0cb9c5;
}

.presentation img{
   width: 50%;
   height: auto;
   border-radius: 5px;
}

@media (max-width: 1200px){
   .presentation{
      display: block;
   }

   .presentation-text{
      width: 100%;
   }

   .presentation img{
      margin-top: 30px;
      width: 100%;
   }
}

/******************* STRENGHT *********************/

.strengths{
   width: 100%;
   display: flex;
   justify-content: space-between;
   border-width: 3px 0;
   border-style: dotted;
   padding: 10px 5px;
}

.strengths-content{
   display: flex;
   font-size: 20px;
   align-items: center;
}

.strengths-content i{
   font-size: 50px;
   padding: 0 20px;
   color:  #0cb9c5;
}

@media (max-width: 900px){
   .strengths{
      display: block;
      border-width: 3px 0;
      border-style: dotted;

   }
   .strengths-content{
      padding: 15px 0;
      justify-content: center;
   }
}

/****************** COURSES ***********************/

.title-courses{
   font-size: 25px;
   padding: 35px 0;
   text-align: center;
}

.grid-courses{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 20px;
}

.img-course{
   width: 100%;
   height: auto;
   border-radius: 5px 5px 0 0;
}

.course{
   border-radius: 5px;
   border: 2px white;
   border-style: dotted;
}

.course-detail{
   padding: 10px;
}

.end-card{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.prices{
   text-align: center;
   padding: 0 15px;
}

.prices p b{
   font-size: 25px;
}

.course button{
   background-color: #008891;
   border: none;
   outline: none;
   padding: 10px 20px;
   font-size: 15px;
   color: white;
   border-radius: 5px;
   margin: 7px 0;
   cursor: pointer;
}

.course button:hover{
   background-color: #0cb9c5;
}

@media(max-width: 900px){
   .grid-courses{
      grid-template-columns: auto auto;
   }
}

@media(max-width: 675px){
   .grid-courses{
      grid-template-columns: auto;
   }
}

/********************FOOTER***********************/

footer{
   box-shadow: 5px 0px 5px #000;
   padding: 10px 10%;
   margin-top: 80px;
   display: flex;
   justify-content: space-around;

}

footer img{
   width: 100px;
   height: auto;
}


.enlace{
   color: white;
   text-decoration: none;
   display: block;
   line-height: 30px;
}

.enlace:hover{
   color: #0cb9c5;
}

@media (max-width: 550px){
   footer{
      display: block;
      text-align: center;
   }
}